<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fiona Leung's Personal Portfolio Website</title>
        <link rel="stylesheet" href="../style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <a href="../index.html"
                        ><img src="../media/images/fiona_text.png" class="logo"
                    /></a>
                    <ul id="menu">
                        <li><a href="../index.html#header">Home</a></li>
                        <li><a href="../index.html#about">About</a></li>
                        <li><a href="../index.html#services">Services</a></li>
                        <li><a href="../index.html#portfolio">Portfolio</a></li>
                        <li><a href="../index.html#contact">Contact</a></li>
                        <i class="fa-solid fa-xmark" onclick="closeMenu()"></i>
                    </ul>
                    <i class="fa-solid fa-ellipsis" onclick="openMenu()"></i>
                </nav>

                <!-- ------------------------ detail portfolio ------------------------ -->
                <div id="web-app">
                    <h1 class="sub-title">My Portfolio</h1>
                    <h2 class="work-title">Web Apps</h2>
                    <div class="work-list">
                        <div class="work">
                            <img
                                src="../media/images/DemoPhoneBook.jpg"
                                alt=""
                            />
                            <div class="layer">
                                <h3>
                                    Demo phonebook (React + Vite, Bootstrap
                                    Express, MongoDB)
                                </h3>
                                <p>Phonebook demo for React practice</p>
                                <a
                                    href="https://phonebook-backend-86eu.onrender.com/"
                                    ><i
                                        class="fa-solid fa-arrow-up-right-from-square"
                                    ></i
                                ></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="../media/images/Interface_Practice.jpg" />
                            <div class="layer">
                                <h3>HTML CSS JavaScript Interface Demo</h3>
                                <p>General website interface demo</p>
                                <a href="./Interface Practice/index.html"
                                    ><i
                                        class="fa-solid fa-arrow-up-right-from-square"
                                    ></i
                                ></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="../media/images/DemoBlog.jpg" alt="" />
                            <div class="layer">
                                <h3>Demo blog (Express, Bootstrap, Post)</h3>
                                <p>Blog demo connected with database</p>
                                <a href="https://my-demo-blog.cyclic.cloud/blog"
                                    ><i
                                        class="fa-solid fa-arrow-up-right-from-square"
                                    ></i
                                ></a>
                            </div>
                        </div>
                        <div class="work">
                            <img
                                src="../media/images/DemoSimonGame.jpg"
                                alt=""
                            />
                            <div class="layer">
                                <h3>
                                    Demo Simon Game (HTML, CSS, JavaScript,
                                    JQuery)
                                </h3>
                                <p>
                                    Memory Game for practicing JavaScript and
                                    JQuery
                                </p>
                                <a href="./Demo Simon Game/index.html"
                                    ><i
                                        class="fa-solid fa-arrow-up-right-from-square"
                                    ></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- see-more -->
        <div class="btn2 see-more">
            <a href="https://github.com/fiona00000" class="btn"
                >See more (My Github)</a
            >
        </div>

        <!-- ------------------------ footer ------------------------ -->
        <div class="footer">
            <p>
                Fiona Leung's Portfolio website v2.0.0
                <i
                    class="fa-regular fa-face-laugh-squint fa-shake"
                    style="color: #ffd43b"
                ></i>
            </p>
        </div>
        <script src="../script.js"></script>
    </body>
</html>
