/* CSS for change state */
.state {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.state--value {
    background-color: #262626;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* CSS for counter */
.counter {
    display: flex;
    align-items: flex-end;
}

.counter > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #737373;
    color: #D9D9D9;
    font-size: 1.5rem;
}

.counter > button:hover {
    background-color: #404040;
    color: #D9D9D9;
}

.counter > button:focus {
    outline: none;
}

.counter--count {
    background-color: lightgray;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
}

.counter--plus {
    margin-left: -20px;
}

.counter--minus {
    margin-right: -20px;
    z-index: 1;
}

/* CSS for reset button */
.button--reset {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 35px;
    
}
  
.button--reset:hover {
    color: darkslategrey
}