<html>
  <head>
    <title>Learning ReactJs</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/sandstone/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../assets/css/react.css" />
    <!-- Load Babel and React. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      window.onload = function () {
        const { useState } = React;
        const { render } = ReactDOM;

        function Navbar() {
          return (
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="../../../index.html">
                  <img
                    src="https://avatars.githubusercontent.com/u/63148173?v=4"
                    alt="GitHub Icon"
                    width="50"
                    height="50"
                  />
                </a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarColor02"
                  aria-controls="navbarColor02"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">
                        Learning ReactJs
                        <span class="visually-hidden">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../index.html">
                        Home
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          );
        }

        function State() {
          const [state, setState] = useState("Hello");
          let [counter, setCounter] = useState(0);

          function handleClick() {
            setState((state) => !state);
          }

          return (
            <div className="state">
              <h1>1. State</h1>

              <div>
                <h3>- Click the button to change word: </h3>

                <div className="state--value" onClick={handleClick}>
                  <h1>{state === true ? "Hello" : ":)"}</h1>
                </div>

                <p>
                  <a href="./changeState.html">Demo Page</a>
                </p>
              </div>

              <div>
                <h3>- Click to change counter value: </h3>

                <div className="counter">
                  <button
                    className="counter--minus"
                    onClick={() => setCounter((counter) => counter - 1)}
                  >
                    –
                  </button>

                  <div className="counter--count">
                    <h1>{counter}</h1>
                  </div>

                  <button
                    className="counter--plus"
                    onClick={() => setCounter((counter) => counter + 1)}
                  >
                    +
                  </button>
                </div>

                <button
                  className="button--reset"
                  onClick={() => setCounter((counter) => 0)}
                >
                  Reset
                </button>

                <p>
                  <a href="./counter.html">Demo Page</a>
                </p>
              </div>

              <div>
                <p>
                  <h3>Other react practice</h3>
                  <ul>
                    <li>
                      <a href="./addItem.html">Item List</a>
                    </li>
                    <li>
                      <a href="https://github.com/fiona00000/React-Practice">
                        Practice code in GitHub
                      </a>
                    </li>
                  </ul>
                </p>
              </div>

              <p>
                Tutorial from:{" "}
                <a href="https://scrimba.com/learn/learnreact/">Scrimba</a>
              </p>
              <hr />
            </div>
          );
        }

        function App() {
          return (
            <div>
              <Navbar />
              <State />
            </div>
          );
        }

        render(<App />, document.getElementById("root"));
      };
    </script>
  </body>
</html>
